.contact {
  background-color: black;
  padding: 2rem;
  color: white;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__single {
      text-align: center;

      &__icons {
        font-size: 1.5rem;
        color: deepskyblue;
        cursor: pointer;
        margin-bottom: 1.25rem;
      }

      &__icons:hover {
        color: white;
      }
    }

  }
}