.start {
  height: 100vh;
  color: white;
  display: flex;

  &__text {
    font-size: 3.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 5rem;
    color: rgba(255,255,255, 0.2);
    font-family: 'Patrick Hand', cursive;
  }

}

.container__video video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.container__video::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
}