.mobile__contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;

  &__text {
    margin: auto;
    font-size: 2.25rem;
    p {
      margin-bottom: 1rem;
    }
  }

  &__container {
    background-color: black;

    &__footer {
      padding-top: 1rem;
      text-align: center;

      &__single {
        margin-bottom: 1rem;

        &__icons {
          margin-bottom: 0.5rem;
          color: deepskyblue;
          cursor: pointer;
        }

        &__icons:hover {
          color: white;
        }
      }
    }

  }
}